/* Text */

#mainHeading {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.funParagraph {
    color: #051e61;
    font-style: italic;
    font-size: 20px;
}




/* Banner image and title */

.banner {
    height: 100%;
  }

.banner-text {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 100px;
    color: #0b1a45;
}

/* Navigation tiles */
div.nav-tile {
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    width: 245px;
  }
  
  div.nav-tile:hover {
    border: 1px solid #777;
  }
  
  div.nav-tile img {
    width: 100%;
    height: auto;
  }
  
  div.nav {
    padding: 15px;
    text-align: left;
  }

  /* Body */

  body {
    margin: 8px;
    display: block;
  }